
@import "tailwindcss";

.border-gradient {
  border-image-slice: 1;
  border-width: 4px;
  border-style: solid;
  border-image-source: linear-gradient(to right, #4facfe, #00f2fe);
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}
